/* @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Outfit:wght@100..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

*{
  /* font-family: "Outfit", sans-serif; */
  font-family: "Playfair Display", serif;
}
@theme{
  --color-primary: #e6ccff;
}
::-webkit-scrollbar{
  display: none;
}

.reset-tw :not(pre):not(code){
  all:revert;
}

.loader div:nth-child(2){
  animation-delay: 0.2s;
}
.loader div:nth-child(3){
  animation-delay: 0.4s;
}

